

.filter {
    border: 1px solid rgba(17,17,17,.5647058824);
    box-shadow: 0px 0px 30px rgba(0,0,0,.3137254902);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    color:white;
    margin: 55px 150px;
    padding: 10px 15px;
    justify-content: space-between;
    max-width: 1200px;
}

.attribute {
    margin-left: 15px;
}

.hero-search {
    width: 350px
}

.attr-btns span {
    font-size: 20px;
    opacity: 0.8;
    letter-spacing: 2px;
}

.attr-icon, .diamond {
    width: 60px;
    height: 40px;
    cursor: pointer;
    transition-property: filter;
    transition-timing-function: ease-in-out;
    transition-duration: .1s;
    filter: brightness(0.5) saturate(0);
}

.filter-text {
    margin-right: 10px;
}

.img-active {
    filter: brightness(1) saturate(10);
}

.qq {
    background-image: url('../images/search.svg');
    background-size: 90%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    border: none !important;
}

.hero-search, .hero-search input {
    background-color: #25282A;
    border: none !important;
    padding: 5px;
    color:white;
    margin: 0 5px;
}

.hero-search input {
    width: 280px;
}

.hero-search input:focus {
    background-color: #505253;
}