

.footer {
    text-align: center;
    width: auto;
    padding: 30px;
    background-color: #000;
    margin-top: 100px;
}

.footer-logo {
    margin: 0 auto;
    max-width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-info {
    text-align: center;
    font-size: 14px;
    color: #777;
    width: 60%;
    margin: 0 auto;
    max-width: 500px;
}

.footer-img {
    margin: 0px 15px 20px 15px;
    max-height: 30px;
}